name: Unit Tests

permissions:
  contents: read

on:
  pull_request:
    branches:
    - master

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install system dependency libomp on macOS
      if: startsWith(matrix.platform, 'macos-')
      run: |
        brew install libomp

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tomli
        python tools/extract_dependencies.py
        python -m pip install -r tools/requirements.txt

    - name: Show environment info
      run: |
        python --version
        python -m pip list
        python -c "import sys; print('Python executable:', sys.executable)"
        echo "OS: ${{ runner.os }}"
        echo "Platform: ${{ matrix.platform }}"

    - name: Run tests with pytest
      shell: bash
      env:
        KERAS_BACKEND: torch
      run: |
        if [[ "${{ matrix.platform }}" == macos* ]]; then
          echo "Skipping deep_learning tests on macOS due to MPS issues"
          pytest -vv -s --ignore=skforecast/deep_learning
        else
          pytest -vv -s  # Extra verbosity and show print statements
        fi

      # Condition to skip python 3.13
      # if [ "${{ matrix.python-version }}" == "3.13" ]; then
